{% extends "qdb/base.html" %}

{% block title %}
Par pērļu krātuvi
{% endblock %}

{% block saturs %}
<h2>Par pērļu krātuvi</h2>
<p>Pērļu krātuve ir radīta, lai celtu gaismā <a href="http://www.lu.lv/">Latvijas Universitātes</a> <a href="http://www.geo.lu.lv/">Ģeogrāfijas un Zemes zinātņu fakultātes</a> studentu labāko veikumu lauka kursu laikā. Visas iekļautās pērles nāk no studentu rakstītām lauka kursa atskaitēm (galvenokārt Ģeomorfoloģijas lauka kursa atskaitēm). Pērles ir anonīmas.</p>
<p>Vienīgais pērles iekļaušanas kritērijs - vai tas lika pasmaidīt atskaites lasītājiem. Ja nav iespējams saprast, kas tad ir tik smieklīgs kādā no pērlēm, nekas cits neatliks, kā vien apgūt Ģeomorfoloģiju, Kvartāģeoloģiju un citus radniecīgos kursus LU ĢZZF.</p>
<p>Ar projekta uzturētājiem ir iespējams sazināties rakstot uz marisn @ lodesmuiza.lv.</p>
<p>Pateicība par projekta atbalstu pienākas <a href="http://www.gisnet.lv/">ĢISnet</a>.</p>
{% endblock %}
